@import url(reset.css);

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-40px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    height: 2000px;
    background-color: gray;
}

[class*="top_btn"] {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: fixed;
    right: 0;
	bottom: 0;
    z-index: 2;
    transition: all .3s;
}

[class*="top_btn"].scroll {
    transform: translate(0);
}

.top_btn1 {
    bottom: 5px;
    transform: translateX(100%);
    background-color: #b8b8f5;
}

.top_btn2 {
    bottom: 110px;
    transform: translateX(100%);
    background: transparent url(../img/cow.png) no-repeat center/contain;
}

.top_btn2.scroll {
    animation-name: jump;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.top_btn3 {
    bottom: 110px;
    right: 115px;
    background: transparent url(../img/cow.png) no-repeat center/contain;
}
.top_btn3:hover {
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.top_btn4 { 
    background-color: #e8f5b8;
	right: 115px;
    transform: translateY(100%);
    transition: all .4s ease-out;
}

.top_btn5 { 
    background-color: #d5b8f5;
	right: 220px;
    transform: translateY(100%);
    transition: all .4s ease-out;
}

.top_btn6 {
    color: #fff;
    width: 50px;
    height: 50px;
	right: 220px;
	bottom: 110px;
    opacity: 0.6;
    background: transparent url(../img/btn_top.png) no-repeat center/cover;
}
.top_btn6:hover {
    opacity: 1;
}