@import url(reset.css);

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-40px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin-reverse {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

body {
    height: 2000px;
    background-color: gray;
}

[class*="top_btn"] {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: fixed;
    right: 0;
	bottom: 0;
    z-index: 2;
    transition: all .3s;
}

[class*="top_btn"].scroll {
    transform: translate(0);
}

.top_btn1 {
    bottom: 10px;
    right: 10px;
    background-color: #b8b8f5;
}

.top_btn2 {
    bottom: 120px;
    right: 10px;
    background: transparent url(../img/cow.png) no-repeat center/contain;
}

.top_btn2.scrollWheel {
    animation-name: jump;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.top_btn3 {
    bottom: 120px;
    right: 115px;
    transform: translateX(210%);
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background: transparent url(../img/cow.png) no-repeat center/contain;
}
.top_btn3.spin {
    animation-name: spin;
}
.top_btn3.spin-reverse {
    animation-name: spin-reverse;
}

.top_btn4 { 
    background-color: #e8f5b8;
    bottom: 10px;
	right: 115px;
    transform: translateY(110%);
    transition: all .4s ease-out;
}

.top_btn5 { 
    background-color: #d5b8f5;
    bottom: 10px;
	right: 220px;
    transition: all .4s ease-out;
    opacity: 0;
}
.top_btn5.scrollWheel {
    opacity: 1;
}

.top_btn6 {
    width: 50px;
    height: 50px;
	right: 220px;
    bottom: 120px;
    color: #fff;
    border-radius: 25px;
    background: transparent url(../img/btn_top.png) no-repeat center/cover;
    transition: all .4s ease-out;
    opacity: 0;
}
.top_btn6.scroll {
    opacity: 0.6;
}
.top_btn6:hover {
    opacity: 1;
}
.top_btn6.click {
    box-shadow: 0 0 5px 2px #fff;
}